/_build_user
/_build_base
/_build_demo
/_build_user_debug
/_build_base_debug
/_build_demo_debug
/_build_user_ide
/_build_base_ide
/_build_demo_ide
/_install

# CMake
CMakeCache.txt
cmake-build-*/
CMakeFiles/

# CLion
.idea/

# QtCreator
CMakeLists.txt.user*

# Visual Studio Code
.vscode/
*/aadcBase/build/
*/aadcDemo/build/
*/aadcUser/build/

# Visual Studio
.vs/
Debug/
Release/
*.dir/
*_autogen/
cmake_install.cmake
*.sln
*.user
*.vcxproj
*.filters
*.VC.db
*.VC.opendb
*.tlog
*.lastbuildstate

# Doxygen
doxygen.cfg
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake

# Jupyter Notebook
.ipynb_checkpoints/

src/aadcUser/tensorflowPlayground/data
